.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 49px;
    text-decoration: none;
    text-align: center;
    border: solid 2px var(--btn-color);
    border-radius: 50px;
    width: 100%;
}

.btn--dark {
    background-color: var(--btn-color);
    color: white;
}

.btn--light {
    color: var(--btn-color);
}